@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.shadow {
  text-shadow: 4px 4px 5px black;
}

.hero-text-shadow {
  text-shadow: 2px 4px 4px #c9a3c7;
}

.embla {
  --slide-spacing: 2rem;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  padding-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 40%;
  min-width: 0;
  margin-left: var(--slide-spacing);
}

@media (min-width: 768px) {
  .embla {
    --slide-spacing: 4rem;
  }

  .embla__slide {
    flex: 0 0 20%;
  }
}
